/*estilo navbar*/
.titulo_rosa {
    color: #ec7ec0 !important;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: rgb(237, 18, 127) !important;
}
/*estilo sobre nosotros*/
.titulo_sobrenosotros {
    color: aqua;
}
/*estilo servicios*/
.producto h5 {
    color: #007bff;
    /* azul bootstrap */
}

.producto p {
    color: #343a40;
    /* negro/gris oscuro */
}

.precio {
    color: #17a2b8;
    /* celeste bootstrap */
    font-weight: bold;
}

.condiciones {
    font-size: 0.9rem;
    color: #6c757d;
}